
header {
  padding: 10px;
  color: black;
  background-color: #70B0C4
}

body {
  background-color: rgb(208, 234, 243);
  margin-bottom: 400px;
}

.container-weather-display {
  padding: 80px;
  border-style: groove;
  display: flex;
  justify-content: center;
  font-size: large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.modal-content {
  text-align: center;
  margin-top: 40px;
}

#location-required-msg {
  font-size: 18px;
  font-family: sans-serif;
}

header {
    background-image: url(Enjoyment.jpg);
}

.id.category-buttons{
  margin-bottom: 200px;
}

body-margin {
  margin-bottom: 200px;
}